header{
    background-image: none !important;
}
.btn-color{
    background-color: red !important;
    color: white !important;
}
main{
    min-height: 600px;
}
.a_propos_paragraphe{
position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}
.texte_a_propos{
    align-items: center;
    text-align: center;
    margin: auto;
    }

.alert{
animation: fadeOut 5s forwards;
      }
      
      @keyframes fadeOut{
        0% { opacity: 1; }
        100% { opacity: 0; display: none; }
      }

.class_footer{
      min-height: 700px;
}
.img_a_propos{
    margin-right: 100px;
}
.div_auto{
    margin-left: auto;
}
.img_position_300px{
    width: 600px;
}
.class_entrainement{
    width: 290px; height: 250px;
}
.abs_bottom{
    position: absolute;bottom: 0;
}
.btn_lien{
    color: white; text-decoration:none;
}
.img_course{
    width: 600px;
}
.boutton_position{
    position: absolute;bottom: 0;
}